<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
</head>
  
<body style="background-color:grey;">

	<header>
		<div class="container">
		<h2 class="text-center">Disease predictor</h2>
	</div>
	</header>

	<div class="ml-container" style="margin-left: 10px; margin-right: 10px;">
		<form action="{{ url_for('predict')}}" method="POST">
	<div class="center">
		<div class="form-group">
			<label>Enter your Name</label>
			<input type="text" name=Name class="form-control" id="Name" placeholder="Enter Name">
		</div>
		<div class="form-group">
			<label>Enter your Age</label>
			<input type="text" name=Age class="form-control" id="Age" placeholder="Enter Age">
		</div>
		<div class="form-group">
			<label>Enter your Gender</label>
			<input type="text" name="Gender" class="form-control" id="Gender" placeholder="Enter Gender">
		</div>
		<p>Enter Your Symptoms<p>
			<textarea name=Symptoms rows="4" , cols="100" placeholder="Enter your symptoms in comma seperated form. Eg: fever,cough,cold,etc..."></textarea>
		<br/>
	</div class='center'>
		<input type="submit" class="btn btn-success" value="predict" style="">
	</form>
	</div>

</body>
</html>
